<nav id="sidebarMenu" class="collapse d-lg-block bg-light sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link">All Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">T-shirts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Jeans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Hoodies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Sneakers</a>
            </li>
        </ul>
    </div>
</nav>