<div class="row">
    <div class="col-md-4" *ngFor="let bannerCard of bannerCards">
        <div class="card bg-dark" routerLink="../catalog">
            <img [src]="bannerCard.image" class="card-img" alt="">
            <div class="card-img-overlay">
                <h5>{{bannerCard.title}}</h5>
                <a routerLink="" class="btn">
                    Shop Now
                    <fa-icon [icon]="faArrow"></fa-icon>
                </a>
            </div>
        </div>

    </div>
</div>