.container {
    margin-top: 140px;

    .row {
        .col {
            .category {
                text-transform: capitalize;
                font-weight: lighter;
            }

            h1 {
                text-transform: capitalize;
                font-weight: bolder;
            }

            .price {
                font-size: x-large;
            }

            .color-picker {
                margin-top: 20px;
                margin-bottom: 10px;

                img {
                    width: 120px;
                }

                .active {
                    border-bottom: 4px solid;
                }
            }

            .color-picker img:hover {
                cursor: pointer;
            }

            .cart-btn {
                border: 2px solid black;
                border-radius: 0;
                margin-top: 20px;
            }

            .cart-btn:hover {
                background-color: black;
                color: white;
            }
        }
    }
}