.container {
    margin-top: 140px;

    .row {
        .col {
            .category {
                text-transform: capitalize;
                font-weight: lighter;
            }
            h1{
                text-transform: capitalize;
                font-weight: bolder;
            }
            .price{
                font-size: x-large;
            }
            .color-picker {
                img {
                    width: 120px;
                }

                .active {
                    border-bottom: 4px solid;
                }
            }
        }
    }
}