fa-icon{
    cursor: pointer;

}
.no-like{
    color: black;
}
.like{
    color: red;
}

.btn{
    border-radius: 50%;
    height: 3em;
    width: 3em;
    background-color: white;
}

span{
    padding: 5px;
}

.btn:hover{
    background-color: black;
    border: 2px solid white;

    span{
        color:white
    }

    .no-like{
        color: white;
    }
}