<span>Sizes: </span>
<div class="row" *ngIf="category == 'shoes'">
    <div class="col-md-3 size" *ngFor="let size of shoeSizes; let sizeIndex= index">
        <del *ngIf="!sizes[sizeIndex]">{{size}}</del>
        <span *ngIf="sizes[sizeIndex]">{{size}}</span>
    </div>
</div>
<div class="row" *ngIf="category !== 'shoes'">
    <div class="col-md-3 size" *ngFor="let size of clotheSizes; let sizeIndex= index">
        <del *ngIf="!sizes[sizeIndex]">{{size}}</del>
        <span *ngIf="sizes[sizeIndex]">{{size}}</span>
    </div>
</div>