<div class="row">
    <div class="col-md-4" *ngFor="let product of products">
        <div class="card">
            <img [src]="product.image" class="card-img" alt="">
            <app-whishlist-button [liked]="product.wishlist" class="floating-like-btn"></app-whishlist-button>
            <div class="card-body" (click)="navegarAInfoProducto(product.id)">
                <p>{{product.category}}</p>
                <h5>{{product.name}}</h5>
                <app-catalog-product-price [price]="product.price"
                    [discount]="product.discount"></app-catalog-product-price>
            </div>

        </div>
    </div>
</div>