.navbar-nav {
    li{
        a{
            font-size: large;
            text-transform: capitalize;
        }
    }
    li.active {
        a {
            background-color: black;
            color: whitesmoke;
        }
    }
}