.navbar-nav {
    li{
        a{
            font-size: larger;
        }
    }
    li.active {
        a {
            background-color: black;
            color: whitesmoke;
            text-transform: capitalize;

        }
    }
}